<h1>Affluences</h1>

<button mat-raised-button color="primary" (click)="back()">< Back</button>

<p>Selected timeslot : {{date}} at {{time}}</p>

<mat-form-field class="example-full-width">
  <mat-label>First name</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Last name</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Email</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Phone number</mat-label>
  <input matInput>
</mat-form-field>

<mat-checkbox class="example-margin" color="primary">I accept terms and conditions</mat-checkbox>
<mat-checkbox class="example-margin" color="primary">Save my account</mat-checkbox>

<button mat-raised-button color="primary" (click)="book()">Book</button>